<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251736031005-a26o0nq75m8cre5pedroqco0d11g55rq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251736031005-a26o0nq75m8cre5pedroqco0d11g55rq</string>
	<key>API_KEY</key>
	<string>AIzaSyB53tjmKQ1_jaoF2jCPnfyfHqKOdR6wF14</string>
	<key>GCM_SENDER_ID</key>
	<string>251736031005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gastogo</string>
	<key>PROJECT_ID</key>
	<string>gastogo-pj2</string>
	<key>STORAGE_BUCKET</key>
	<string>gastogo-pj2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251736031005:ios:b6dc75d71871f1c82c2bf4</string>
</dict>
</plist>